<div class="product-featured">
  <h2 class="title">Deal of the day</h2>

  <div class="showcase-wrapper has-scrollbar">
    <div class="showcase-container">
      <div class="showcase">
        <div class="showcase-banner">
          <img
            src="./images/small-house.png"
            alt="small house"
            class="showcase-img"
          />
        </div>

        <div class="showcase-content">
          <div class="showcase-rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>

          <a href="#">
            <h3 class="showcase-title">
              Old model House
            </h3>
          </a>

          <p class="showcase-desc">
            Fully polished and completely made from coconut shell artwork.
          </p>

          <div class="price-box">
            <p class="price">₹599</p>

            <del>₹999</del>
          </div>

          <button id="offer1" class="add-cart-btn">add to cart</button>

          <br><br>

          <div class="countdown-box">
            <p id="offer1" class="countdown-desc">Hurry Up! Offer ends in:</p>

            <div class="countdown">
              <div class="countdown-content">
                <p id="offer1-days" class="display-number">360</p>

                <p class="display-text">Days</p>
              </div>

              <div class="countdown-content">
                <p id="offer1-hours" class="display-number">24</p>
                <p class="display-text">Hours</p>
              </div>

              <div class="countdown-content">
                <p id="offer1-min" class="display-number">59</p>
                <p class="display-text">Min</p>
              </div>

              <div class="countdown-content">
                <p id="offer1-sec" class="display-number">00</p>
                <p class="display-text">Sec</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="showcase-container">
      <div class="showcase">
        <div class="showcase-banner">
          <img
            src="./images/horse-cart.jpeg"
            alt="bullock cart"
            class="showcase-img"
          />
        </div>

        <div class="showcase-content">
          <div class="showcase-rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>

          <h3 class="showcase-title">
            <a href="#" class="showcase-title">Bullock Cart Coconut Shell</a>
          </h3>

          <p class="showcase-desc">
            Fully polished and made from coconut shell art designed as a bullock attached with a cart
          </p>

          <div class="price-box">
            <p class="price">₹689</p>
            <del>₹1229</del>
          </div>

          <button id="offer-2" class="add-cart-btn">add to cart</button>
          <br><br>

          <div class="countdown-box">
            <p id="offer-2" class="countdown-desc">Hurry Up! Offer ends in:</p>

            <div class="countdown">
              <div class="countdown-content">
                <p id="offer2-days" class="display-number">360</p>
                <p class="display-text">Days</p>
              </div>

              <div class="countdown-content">
                <p id="offer2-hours" class="display-number">24</p>
                <p class="display-text">Hours</p>
              </div>

              <div class="countdown-content">
                <p id="offer2-min" class="display-number">59</p>
                <p class="display-text">Min</p>
              </div>

              <div class="countdown-content">
                <p id="offer2-sec" class="display-number">00</p>
                <p class="display-text">Sec</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
