<html>
  <head>
    <%- include('components/header.ejs'); -%>
    <meta http-equiv = "refresh" content = "5; url = /" />
  </head>
  <body style="text-align:center;">
    <h1>404 Page not found</h1>
    <h5>Redirecting in 5sec ....</h5>
  </body>  
  <footer><%- include('components/footer.ejs'); -%></footer>
</html>
